@model IEnumerable<TARpe21Shop.Models.Cars.CarIndexViewModel>
@{
    int rowNumber = 1;
}
<div class="h1">Cars</div>
<div>
    <a asp-action="Create" asp-controller="Cars" type="submit" class="btn btn-primary">Create New Car</a>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>@String.Format("{0:C}", car.Price)</td>
                    <td>
                        <a asp-action="Details" asp-controller="Cars" asp-route-id="@car.Id" class="btn btn-info">Details</a>
                        <a asp-action="Update" asp-controller="Cars" asp-route-id="@car.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Cars" asp-route-id="@car.Id" type="submit" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
